article, aside, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  font-family: 'Zilla Slab', Helvetica, sans-serif;
  line-height: 1;
  font-size: 18px;
  color: #000;
  margin: 0;
  padding: 0;
}
